<div class="w-full relative">
  <input [type]="type" [name]="id" [id]="id" [placeholder]="placeholder" (change)="updateValue($event)"
    (focus)="onFocus($event)" (blur)="onFocus($event)" [(ngModel)]="value"
    class="border border-gray-300 focus:outline-blue-500 rounded-md p-2 w-full"
    [ngClass]="{'border-red-500 focus:outline-red-500':invalid}">
  <ul class="absolute z-50 scale-y-0 border rounded-md bg-white min-w-full transition-transform origin-top"
    [ngClass]="{'scale-y-100':suggestions.length !== 0 && isFocus}">
    <li *ngFor="let item of suggestions" class="w-full">
      <button type="button"
        class="block px-4 py-2 w-full text-sm text-left text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-blue-500"
        [value]="item" (mousedown)="updateValue($event)" (keydown.enter)="updateValue($event)" (focus)="onFocus($event)"
        (blur)="onFocus($event)">{{item}}</button>
    </li>
  </ul>
</div>