<app-modal header="更新履歴" [visible]="visible" (visibleChange)="visibleChange.emit($event)">
  <ul>
    <li>（2022/09/04）スマートフォンで画像のフォントが正しく選択されていなかった問題を修正しました。修正されていない方はキャッシュを削除してみてください。</li>
    <li>（2024/01/01）サイトをリニューアルしました。</li>
    <ul>
      <li>より使いやすくするため、デザインを調整しました</li>
      <li>画像のリアルタイム生成に対応しました</li>
      <li>一括での読み/書き問題変更機能を追加しました</li>
      <li>問題種別の選択で書き問題をデフォルトにしました</li>
      <li>問題データのインポート/エクスポート機能を追加しました</li>
      <li>解答の表示/非表示を切り替えられるようにしました</li>
      <li>その他、各種不具合の修正や挙動の調整を実施しました</li>
    </ul>
  </ul>
</app-modal>