<app-toast></app-toast>
<div class="flex flex-col min-h-screen">
  <img src="/assets/hero.webp" alt="トップページの紹介画像" width="100%" height="auto">
  <app-header></app-header>
  <ng-container *ngIf="isSmartPhone; else PC">
    <div class="flex flex-col">
      <app-form></app-form>
      <app-canvas class="sticky"></app-canvas>
    </div>
  </ng-container>
  <ng-template #PC>
    <div class="flex flex-auto gap-3">
      <app-form class="basis-1/2"></app-form>
      <div class="basis-1/2 pr-3 pb-3">
        <app-canvas class="sticky top-32"></app-canvas>
      </div>
    </div>
  </ng-template>
  <app-footer></app-footer>
</div>