.context-menu {
    position: fixed;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem
        /* 6px */
    ;
    z-index: 100;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            gap: .25rem;
            padding: 8px 16px;
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;

                &:first-of-type {
                    border-top-left-radius: .375rem;
                    border-top-right-radius: .375rem;
                }

                &:last-of-type {
                    border-bottom-left-radius: .375rem;
                    border-bottom-right-radius: .375rem;
                }
            }
        }
    }
}